<div class="col-xs-12" style="height:30px;"></div>

<div class = "row">
  <div class="col-xs-offset-2 col-xs-2 text-center"><strong>Total Invested</strong></div>
  <div class="col-xs-offset-4 col-xs-2 text-center"><strong>Value Today</strong></div>
</div>

<div class = "row">
  <div class="col-xs-offset-2 col-xs-2 text-center img-rounded" style="border: 2px solid">${{totalInvested}}</div>
  <div class="col-xs-offset-4 col-xs-2 text-center img-rounded" style="border: 2px solid">${{currentValue}}</div>
</div>

<div class="col-xs-12" style="height:30px;"></div>

<div class = "row">
  <div class="col-xs-offset-1 col-xs-10 text-center img-rounded" style="border: 2px solid">
    <canvas id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-legend="true" chart-series="series"
            chart-click="onClick" chart-options="chartOptions" >
    </canvas>
  </div>
</div>

<div class="col-xs-12" style="height:30px;"></div>

<div class = "row">
  <div class="col-xs-offset-1 col-xs-10 text-center img-rounded" style="border: 2px solid">

    <table class = table >
      <thead>
      <tr>
        <th>Stock Name</th>
        <th>Date of Purchase</th>
        <th>Amount(EURO)</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <form novalidate class="simple-form">
          <td><input type="text" ng-model="formFields.stockTicker"/><br /></td>
          <td><md-datepicker ng-model="formFields.date" md-placeholder="Enter date" md-max-date="maxDate"></md-datepicker></td>
          <td><input type="number" ng-model="formFields.amount"/><br /></td>
          <td>
            <input class="btn btn-primary" type="submit" ng-click="addInvestment()"
            ng-disabled="formFields.stockTicker.length==0 || formFields.date.length==0 || formFields.amount.length==0" value="Add Investment" />
          </td>
        </form>
      </tr>
      <tr ng-repeat="investment in investments">
        <td>
          {{investment.name}}</td>
          <!--<h6 class="text-warning">{{investment.tickerDoesntExistFlag ? 'Ticker doesn't seem to be on Yahoo Finance.' : ''}}</h6>-->
        <td>
          {{investment.date | date:'dd-MM-yyyy'}}
          <h6 class="text-warning">{{investment.dateSelectionTooOldFlag ? 'Date may predate Yahoo data for stock.' : ''}}</h6>
          <h6 class="text-warning">{{investment.dateSelectionTooOldFlag ? 'Defaulting to earliest available date.' : ''}}</h6>
        </td>
        <td>{{investment.amount}}</td>
        <td><button type="button" class="btn btn-primary" ng-click="removeInvestment($index)">Remove Investment</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class = "row">
  <div class="col-xs-offset-1 col-xs-10 img-rounded">
    <h5>This is an app I have created in my spare time to learn how to develop and deploy MEAN stack web applications.
      It works by accessing stock data on Yahoo finance so the following link might be useful to help you pick stocks for you portfolio:
      <a href="https://finance.yahoo.com/">Yahoo Finance</a>
      Some examples include GOOG (Google),  AAPL(Apple) , GE(General Electric) or IOO (Ishares 100 ETF). Happy "investing"!
    </h5>
  </div>
</div>
